

@font-face {
    font-family: 'miso-bold';
    src: url('../fonts/miso-bold/miso-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/miso-bold/miso-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/miso-bold/miso-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/miso-bold/miso-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/miso-bold/miso-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/miso-bold/miso-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}




html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* Hide scroll bar */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 65px;
    z-index: 1;
    width: 100%;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #404040;
    width: 0%;
}

#navbar {
    top: 1;
    z-index: 1;
}

/* The header for the nav bar */
#title-irminrics {
    font-family: miso-bold, sans-serif;
    font-size: 30px;
    color: white;
}

.icon {
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    display: inline-block;
}

.icon-facebook {
    background-image: url(../images/icon-facebook.png);
}

.icon-email {
    background-image: url(../images/icon-email.png);
}

.icon-linkedin {
    background-image: url(../images/icon-linkedin.png);
}

.irminrics-dp {
    background-image: url(../images/irminrics-dp.png);
}

::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

/*overflow: -moz-scrollbars-none; for firefox*/

#loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    overflow: visible;
    background-color: black;
}

#mobile-block {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    overflow: visible;
    background-color: black;
    visibility: hidden;
}

#oops {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
}

#oops-title {
    padding: 5%;
    font-family: miso-bold, sans-serif;
    font-size: 200px;
}

#oops-description {
    font-size: 30px;
}



.circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 4px;
    z-index: -1;
}

.circle-1 {
    border: 4px solid #fc1460;
}

.circle-2 {
    border: 4px solid #5a87ff;
}

.circle-3 {
    border: 4px solid #18fd91;
}

.circle-4 {
    border: 4px solid #fbf38c;
}





#intro-background {
    display: table;
    width: 100%;
    height: 800px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/city-cars.gif");
    background-size: cover;
    background-attachment: fixed;
}

#intro-div {
    width: 100%;
    height: 30%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
}

#main-intro {
    vertical-align: middle;
    display: table-cell;
}

#cards-div {
    font-size: 120px;
    font-weight: bold;
    width: 400px;
    height: 250px;
    margin: 80px auto;
    border-radius: 10px;
    perspective: 1400px;
}

#second-background {
    width: 100%;
    height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/night-city-lights.gif");
    background-size: cover;
    background-attachment: fixed;
}

#about-me-content {
    width: 50%;
    text-align: center;
    height: 100%;
    margin: auto;
    color: white;
}

.miso-bold {
    font-family: miso-bold, sans-serif;
}

#about-me-title {
    padding: 50px 25px 25px 25px;
    font-size: 70px;
}

#about-me-p {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #D2D2D2
}

#info-div {
    width: 100%;
    height: 830px;
    background-color: #DFDFDF;
    padding-top: 100px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

#experience-diagram {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.experience-box {
    float: left;
    height: 500px;
}

.experience-icon {
    margin-bottom: 20px;
}

.experience-icons {
    margin: 0 auto;
    text-align: center;
}

.experience-title {
    font-weight: bold;
}

.experience-description {
    text-align: center;
}

.etc {
    font-size: 12px;
}

.experience-info {
    font-size: 15px;
    margin: 0 auto;
    width: 80%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#third-div {
    height: 900px;
    width: 100%;
    background-color: #212121;
    padding-top: 100px;
}

#back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

#btt-button {
    background-color: rgba(245, 245, 245, 0.4);
    font-weight: 700;
}


.typeText {
    width: 85%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 4em;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 40px;
}

    .typeText .content {
        display: inline;
        color: white;
        font-family: Miso, sans-serif;
        margin-right: -30px;
    }

    .typeText .cursor {
        font-weight: bolder;
        animation: blink .5s infinite linear;
        display: none;
    }

.intro-description {
    display: inline-block;
    font-size: 1em;
    width: 50%;
}

#cursor {
    font-size: 1em;
    color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}





.ml1 {
    font-family: Miso, sans-serif;
    font-size: 3.5em;
    margin: 0 auto;
    text-align: center;
}

    .ml1 .letter {
        display: inline-block;
        line-height: 1em;
    }

    .ml1 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.1em;
        padding-right: 0.05em;
        padding-bottom: 0.15em;
    }

    .ml1 .line {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #212121;
        transform-origin: 0 0;
    }

    .ml1 .line1 {
        top: 0;
    }

    .ml1 .line2 {
        bottom: 0;
    }


.ml2 {
    font-family: Miso, sans-serif;
    font-size: 3.5em;
    margin: 0 auto;
    text-align: center;
    color: white;
}

    .ml2 .letter {
        display: inline-block;
        line-height: 1em;
    }

    .ml2 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.1em;
        padding-right: 0.05em;
        padding-bottom: 0.15em;
    }

    .ml2 .line {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: white;
        transform-origin: 0 0;
    }

    .ml2 .line1 {
        top: 0;
    }

    .ml2 .line2 {
        bottom: 0;
    }


#contact-form {
    margin: 0 auto;
    margin-top: 70px;
    width: 35%;
    height: 600px;
}

#copyright {
    text-align: center;
    font-size: 15px;
    color: white;
}

.contact-icon {
    color: #808080;
    margin-top: -5px;
}

.md-form .prefix.active {
    color: white;
}

.md-form input[type=text] + label {
    color: #808080 !important;
}

.md-form input[type=text] {
    box-shadow: 0 1px 0 0 #808080 !important;
    border-bottom: 1px solid #808080 !important;
}

    .md-form input[type=text]:focus + label {
        color: white !important;
    }

    .md-form input[type=text]:focus {
        box-shadow: 0 1px 0 0 white !important;
        border-bottom: 1px solid white !important;
    }

.contact-box {
    margin: 50px 0 50px 0;
}

.contact-label {
    margin-top: -15px;
}

.md-form input[type=text] {
    color: white;
}

.md-form textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
}


    .md-form textarea + label {
        color: #808080 !important;
    }

    .md-form textarea:focus + label {
        color: white !important;
    }

    .md-form textarea:focus {
        box-shadow: 0 1px 0 0 white !important;
        border-bottom: 1px solid white !important;
    }

.md-form textarea {
    box-shadow: 0 1px 0 0 #808080 !important;
    border-bottom: 1px solid #808080 !important;
}

#contact-submit {
    text-align: center;
}

#btn-submit {
    color: white !important;
    border: 1px solid white;
}

/*here*/


@media only screen and (max-width: 457px) {

    #info-div {
        height: 2600px;
    }

    #experience-diagram {
        height: 2400px;
    }


    .typeText {
        font-size: 2.0em;
    }

    #cursor {
        font-size: 0.85em;
    }

    .intro-description {
        font-size: 0.70em;
    }

    .typeText .content {
        margin-right: -14px;
    }
  
}




@media (min-width: 457px) and (max-width: 576px) {
    #info-div {
        height: 2600px;
    }

    #experience-diagram {
        height: 2400px;
    }

    .typeText {
        font-size: 3.0em;
    }

    #cursor {
        font-size: 0.85em;
    }

    .intro-description {
        font-size: 0.75em;
    }

    .typeText .content {
        margin-right: -20px;
    }
}

@media only screen and (max-width: 660px) {
    #oops-title {
        font-size: 140px;
    }

    #oops-description {
        font-size: 20px;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    #info-div {
        height: 1300px;
    }

    #experience-diagram {
        height: 1000px;
    }

    #mobile-block {
        visibility: hidden;
    }

    .typeText {
        font-size: 3.5em;
    }

    #cursor {
        font-size: 0.85em;
    }

    .intro-description {
        font-size: 0.85em;
    }

    .typeText .content {
        margin-right: -24px;
    }
}








@media (min-width:768px) and (max-width: 900px) {
    #info-div {
        height: 930px;
    }

    #experience-diagram {
        height: 630px;
    }
}

@media only screen and (max-width: 1484px) {
    .content {
        line-height: 90px;
    }
}
